.classbar {
  width: 100vw;
  height: 4.5rem;
  border-top: 2px solid #ee2e30;
  border-bottom: 2px solid #ee2e30;
  background-color: #f9f6ef;
}

.classbar-content {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.classbar-class {
  display: flex;
  flex-direction: column;
  margin: 0.15rem;
  justify-content: center;
}

.classbar-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  margin: 0;
}

.classbar-details {
  display: flex;
  flex-direction: row;
}

.classbar-author {
  font-family: "Open Sans", sans-serif;
  color: grey;
  font-size: 1.1rem;
  margin: 0;
}

.classbar-rating{
  display: flex;
  flex-direction: row;;
  margin: 0 1rem;
}

.classbar-rating-icon {
  width: 1.15rem;
}

.classbar-rating-text {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 600;
}

.classbar-rating-score{
  color: #ee2e30;
  font-weight: 800;
}

.classbar-rating-qty {
  margin: 0 0.25rem;
}

.classbar-type {
  height: 4rem;
  display: flex;
  align-items: center;
}

.classbar-event {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #ee2e30;
  width: 13rem;
  border: 2px solid #ee2e30;
  border-radius: 25px;
  letter-spacing: 0.05rem;

}

.classbar-pricing {
  display: flex;
  align-items: center;
}

.classbar-price {
  width: 6rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ee2e30;
  margin: 0.5rem;
}

.classbar-cta {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.classbar-cta button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.15rem;
  background-color: #ee2e30;
  border: none;
  padding: 0.5rem 1.25rem;
  color: white;
}

.bocadillo-top {
  width: 5rem;
  position: relative;
  top: -2rem;
  left: 7rem;
}

@media only screen and (max-width: 767px) {
  .classbar {
    height: 8rem;
  }

  .classbar-title {
    text-align: left;
  }

  .classbar-author {
    text-align: left;
  }

  .classbar-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .classbar-details{
    flex-direction: column;
  }

  .classbar-rating{
    margin: 0;
    width: 12rem;
  }

  .classbar-type {
    height: 100%;
  }

  .classbar-event {
    margin: 0 2rem 0 0;
    width: 11rem;
  }

  .classbar-pricing {
    display: none;
  }

  .classbar-cta {
    display: none;
  }

  .bocadillo-top {
    position: absolute;
top: 8rem;
left: 17rem;
  }
}
