.content {
  background-color:#f9f6ef;
  display: flex;
  justify-content: center;
}

.content-box {
  width: 80vw;
  min-height: 10vw;
  background-color: white;
  border-bottom: 2px solid #ee2e30;
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.content-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  min-width: 30vw;
  padding: 1rem 0 0 2rem;
}

.content-text {
  font-family: "Open Sans", sans-serif;
  padding: 1rem 3rem 0 0;
  text-align: justify;
}

.content-text p {
  margin-bottom: 1rem;
}

.content-text ul {
  list-style-image: url("../images/check.png");  
}

.content-text li {
  width: 45vw;
  border-bottom: 2px solid #f9f6ef;
  padding-bottom: 0.5rem; 
}

.content-text li div {
  color: grey;
  font-weight: 400;
}

.last-content {
  border-bottom: 0;
  padding-bottom: 2rem;
}

